{
  "extends": "@so1ve/stylelint-config",
  "rules": {
    "value-keyword-case": null,
    "max-line-length": null,
    "no-descending-specificity": null,
    "scss/at-import-partial-extension": "always",
    "scss/at-mixin-pattern": null,
    "scss/no-global-function-names": null,
    "scss/dollar-variable-pattern": null
  }
}
