@import "./utils/functions.scss";

$fontSize: 16px;
$tabSize: 4;
$lineHeight: 2;
$postWidth: 36em;
$listWidth: 36em;
$greaterWidth: null;

@if $postWidth > $listWidth {
  $greaterWidth: $postWidth;
} @else {
  $greaterWidth: $listWidth;
}

$maxWidth: $fontSize * (strip-unit($greaterWidth) + 5);
$headerLayoutFlex: true;
$enableHeaderAutoHide: true;
$enableNavToggle: true;
$navHeight: 10em;
$displayBackToTopOnMobile: true;
$enableOverflowY: true;
$maxHeight: 20em;
$enableCopy: true;
$enableCopyAutoHide: true;
$enableSmoothScroll: true;
$duration: 0.5s;
$primaryColorLightH: 220;
$primaryColorLightS: 90%;
$primaryColorLightL: 56%;
$primaryColorDarkH: 201;
$primaryColorDarkS: 65%;
$primaryColorDarkL: 62%;
$fontFamilySiteBrand: "";
$fontFamilyMenu: "";
$fontFamilyTitle: "Noto Serif SC", "EB Garamond", serif;
$fontFamilyHeadings: "Noto Serif SC", "EB Garamond", serif;
$fontFamilyCode: "Source Code Pro", "Noto Serif SC", monospace;
$fontFamilyQuote: "";
$fontFamilyTOC: "";
$fontFamilyCaption: "";
$fontFamilyFooter: "";
$fontFamilyBody: "EB Garamond", "Noto Serif SC", serif;
$siteBrandFontSize: 1em;
$siteBrandFontColor: var(--color-contrast-high);
$headerBackground: linear-gradient(90deg, #f795331a 0, #f370551a 15%, #ef4e7b1a 30%, #a166ab1a 44%, #5073b81a 58%, #1098ad1a 72%, #07b39b1a 86%, #6dba821a 100%);
$brandHeight: $fontSize * strip-unit($siteBrandFontSize) * 1.618;
