$fontSize: 16px;
$tabSize: 4;
$lineHeight: 2;
$postWidth: 36em;
$listWidth: 36em;
$headerLayoutFlex: true;
$enableHeaderAutoHide: true;
$enableNavToggle: true;
$navHeight: 10em;
$displayBackToTopOnMobile: true;
$enableOverflowY: true;
$maxHeight: 20em;
$enableCopy: true;
$enableCopyAutoHide: true;
$enableSmoothScroll: true;
$duration: 0.5s;
$primaryColorLightH: 220;
$primaryColorLightS: 90%;
$primaryColorLightL: 56%;
$fontFamilySiteBrand: "";
$fontFamilyMenu: "";
$fontFamilyTitle: "Noto Serif SC", "EB Garamond", serif;
$fontFamilyHeadings: "Noto Serif SC", "EB Garamond", serif;
$fontFamilyCode: "Source Code Pro", "Noto Serif SC", monospace;
$fontFamilyQuote: "";
$fontFamilyTOC: "";
$fontFamilyCaption: "";
$fontFamilyFooter: "";
$fontFamilyBody: "EB Garamond", "Noto Serif SC", serif;
$siteBrandFontSize: 1em;
$siteBrandFontColor: var(--color-contrast-high);
