@import "../utils/mixins.scss";
@import "../utils/functions.scss";

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: $fontSize;
  text-size-adjust: none;
}

body {
  @include tabSize;

  background-color: var(--color-bg);
  color: var(--color-contrast-high);
  line-height: 1.618;
  word-wrap: break-word;
  overflow-wrap: break-word;
  transition: all $duration;
}

a {
  color: var(--color-contrast-high);
  text-decoration: none;
  transition: all $duration;

  &:hover {
    color: var(--color-primary);
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  margin: 1.618em 0 1em;
  color: var(--color-contrast-higher);
  font-size: 1em;

  // stylelint-disable-next-line no-descending-specificity
  a {
    color: var(--color-contrast-higher);
    text-decoration: none !important;
  }
}

::selection {
  background-color: alpha(var(--color-primary), 0.3);
}
